h1 {
    text-align: center;
    font-weight: bold;
    text-decoration: #f78120 underline wavy 4px;
    letter-spacing: 6px;
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


